{% extends "layout.html" %}
{% block content %}

<h1>Game Manual For Super DUMMIES</h1>
<hr/>

<p>
    <h2>Welcome to the first edition of GOTHONS OF PLANET PERCAL #25.</h2>
    <h3>This game has 5 maps, each with it's own commands to proceed</h3>
    <h4>The most important rule is this:</h4>
    - type in an action with a target or direction. e.g, jump right, shoot at gothon, shoot gothon, ...
    <br/>
    <br/>
    ACTIONS
    <br/>
    <br/>
    1) central corridor
    <br/>
    actions: shoot, dodge, joke...
    <br/>
    <br/>
    2) laser weapon armory
    <br/>
    first digit: 0,1
    <br/>
    second digit: 1,2
    <br/>
    third digit: 2,3
    <br/>
    <br/>
    3) the bridge
    <br/>
    commands: throw bomb, attack fuckers, use kings haki ...
    <br/>
    <br/>
    4) escape pod
    <br/>
    commands: guess a pod 
    <br/>
    <br/>
    <a href="/game">Return to game</a>
</p>

{% endblock %}
